{% extends 'layout.html' %}
{% load category %}

{% block slider %}
<div class="container-slide">
  <div id="carousel-demo" class="carousel">
    {% for slide in slides %}
    <div class="item-1">
      <img class="slider-img" src="{{ slide.image.url }}" alt="">
    </div>
    {% endfor %}
  </div>
</div>
<script>
  bulmaCarousel.attach('#carousel-demo', {
    slidesToScroll: 1,
    slidesToShow: 1,
    infinite: true
  });
</script>
{% endblock %}

{% block content %}
<div class="columns mt-2">
  <div class="column is-one-fifth ml-2">
    {% categories %}
  </div>
  <div class="column">
    <div class="columns is-multiline is-centred">
      {% for product in products %}
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <a href="{% url 'store:product' product.pk %}">
                <img id="prod_img" src="{{ product.image.url }}" alt="">
              </a>
            </figure>
            {% if product.is_new %}
            <span class="tag is-danger ml-1">
              Новинка!
            </span>
            {% endif %}

            {% if product.is_discount %}
            <span class="tag is-primary ml-1">
              Скидка!
            </span>
            {% endif %}
          </div>
          <div class="card-content">
            <div class="media">
              <br>
              <div class="media-content">
                <div class="title is-4">
                  <a href="{% url 'store:product' product.pk %}">{{ product }}</a>
                </div>
              </div>
            </div>
            <div class="columns is-vcentered">
              <div class="column has-text-weight-bold">
                {{ product.price }} $
              </div>
              <div class="column has-text-right">
                {% if user.is_authenticated %}
                <a href="{% url 'store:home' %}?action=favorite&pk={{ product.pk }}">
                  <ion-icon class="icon is-medium {% if user in product.favorites.all %} has-text-warning {% else %} has-text-grey {% endif %} order"
                    name="star"></ion-icon>
                </a>
                {% endif %}
                <a href="{% url 'store:home' %}?action=add_to_cart&pk={{ product.pk }}">
                  <ion-icon name="cart-outline" class="icon is-medium"></ion-icon>
                </a>
              </div>
              {% for i in product.cartitem_set.all %}
              {% if i.customer == user %}
              <div class="field has-addons">
                <a href="{% url 'store:home' %}?action=less_quan&pk={{ product.pk }}"
                  class="button is-danger has-text-weight-bold">-</a>
                <div class="mx-2 my-2">{{ i.quantity }}</div>
                <a href="{% url 'store:home' %}?action=increase_quan&pk={{ product.pk }}"
                  class="button is-primary has-text-weight-bold">+</a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}